@import '../../../variables.scss';
@import '../values.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;

  .label {
    @include label;
  }

  .value {
    @include value;
  }
}
