<div class="container">
  <mat-drawer-container hasBackdrop="false">
    <mat-drawer #drawer mode="side" opened [mode]="mode" [style.width.px]="drawerWidth" (mouseover)="overDrawer=true" (mouseout)="overDrawer=false">
      <div class="toggle" (click)="drawer.toggle()" [class.overDrawer]="overDrawer">
        <div>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </div>
      </div>
      <div class="drawrer">
        Drawer content
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="content">
        <div class="dragbar">
        </div>
        <div>Main content</div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
