<div class="container">
  <mat-drawer-container #drawerContainer hasBackdrop="false">
    <mat-drawer #drawer mode="side" opened [mode]="mode" [style.width.px]="drawerWidth" (mouseover)="overDrawer=true" (mouseout)="overDrawer=false" (mouseleave)="leaveDrawer()">
      <div *ngIf="isOpen" class="toggle" (click)="closeDrawer()" [class.overDrawer]="overDrawer">
        <div>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </div>
      </div>
      <div class="drawer">
        Drawer content
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="content">
        <div *ngIf="!isOpen" class="dragbar-toggle" (click)="openDrawer()">
          <div>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </div>
        </div>
        <div class="dragbar" #dragbar [class.closed]="!isOpen" (mouseenter)="enterBar()" (mouseleave)="leaveBar()">
        </div>
        <div>Main content</div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
