.container {
  height: 100%;

  .colapse {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: green;
    z-index: 5;
  }

  mat-drawer-container {
    height: 100%;

    mat-drawer {
      overflow-y: unset;
    }

    .content {
      display: flex;
      flex-direction: row;
      height: 100%;

      .dragbar {
        width: 4px;
        background-color: red;

        &:hover {
          cursor: col-resize;
        }
      }
    }
  }
}

.toggle {
  position: absolute;
  top: 10px;
  width: 30px;
  height: 30px;
  z-index: 150;
  cursor: pointer;
  right: -15px;
  border-radius: 50%;

  &.overDrawer {
    div {
      display: block;
    }
  }

  &:hover {
    div {
      background-color: blue;
      display: block;
    }
  }

  div {
    background-color: white;
    border-color: grey;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 0 1px rgba(9,30,66,0.08),0 2px 4px 1px rgba(9,30,66,0.08);
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    display: none;

    mat-icon {
      height: 20px;
      width: 20px;
      position: relative;
      top: -3px;
      left: -3px;
    }
  }
}
