<div class="wrapper">
  <div class="mat-elevation-z2 header">
    <div class="menu-wrapper" #menuWrapper>
      <div class="menu">
        <button mat-icon-button color="primary" (click)="home()">
          <mat-icon>home</mat-icon>
        </button>
        <span *ngFor="let item of navItems">
          <span *ngIf="item.children && item.children.length > 0">
            <eFaps-menu-item #menu [items]="item.children"></eFaps-menu-item>
            <button mat-button color="primary" [matMenuTriggerFor]="menu.childMenu" (click)="triggerAction(item)">
              <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>
              {{item.label}}
              <mat-icon>expand_more</mat-icon>
            </button>
          </span>
          <span *ngIf="!item.children || item.children.length === 0">
            <button mat-button color="primary" (click)="triggerAction(item)">
              {{item.label}}
            </button>
          </span>
        </span>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="right">
      <eFaps-search></eFaps-search>
      <span>{{user?.company}}</span>
      <span>
        <button mat-icon-button color="primary" [matMenuTriggerFor]="userMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </span>
      <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
        <span mat-menu-item>{{user?.firstName}} {{user?.lastName}}</span>
        <span>
          <button mat-menu-item color="primary">Logout</button>
        </span>
      </mat-menu>
    </div>
  </div>
</div>
