.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    display: flex;
  }

  eFaps-content-wrapper {
    flex-grow: 1;
    margin-top: 5px;
  }
}

.spacer {
  flex: 1 1 auto;
  min-width: 50px;
}

.right {
  display: flex;

  eFaps-search {
    margin-right: 3px;
    position: relative;
    top: 5px;
  }

  span {
    line-height: 40px;
    font-weight: bold;
  }
}
