<div class="wrapper">
  <p-table #dt [columns]="columns" [value]="values" sortMode="multiple" [resizableColumns]="true" [scrollable]="true" scrollHeight="flex"
           [lazy]="isLazy" [virtualScroll]="virtualScroll" (onLazyLoad)="loadDataOnScroll($event)" [totalRecords]="totalRecords" [rows]="100"
           [loading]="loading" [reorderableColumns]="true" columnResizeMode="expand" [rowHover]="true" [selectionMode]="selectionMode" [(selection)]="selection">
    <ng-template pTemplate="caption">
      <div class="caption">
        <eFaps-menu [navItems]="menu" (action)="onAction($event)"></eFaps-menu>
        <span class="heading">
          {{table?.header}}
        </span>
        <span class="search">
          <mat-icon>search</mat-icon>
          <input type="text" pInputText size="20" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"
                 style="width:auto">
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngIf="selectionMode=='single'" class="selectionColumn"></th>
        <th *ngIf="selectionMode=='multiple'" class="selectionColumn">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn pReorderableColumn>
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-value let-columns="columns">
      <tr class="ui-selectable-row">
        <td *ngIf="selectionMode=='single'" class="selectionColumn">
          <p-tableRadioButton [value]="value"></p-tableRadioButton>
        </td>
        <td *ngIf="selectionMode=='multiple'" class="selectionColumn">
          <p-tableCheckbox [value]="value"></p-tableCheckbox>
        </td>
        <td *ngFor="let col of columns">
          <div>
            <button mat-icon-button *ngIf="col.ref != null" (click)="open(col, value)">
              <mat-icon>info</mat-icon>
            </button>
            <span>{{value[col.field]}}</span>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
      <tr style="height:34px">
        <td *ngFor="let col of columns">
          <div class="loading-text"></div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
