.header {
  position: relative;

  button.menu-button {
    position: absolute;
    top: -5px;
    left: -5px;
  }

  h2 {
    text-align: center;
  }

  button.hide-button {
    position: absolute;
    top: -17px;
    right: 7px;
  }

  .handle {
    position: absolute;
    top: -10px;
    right: -15px;

    &:hover {
      cursor: grab;
    }
  }
}
