<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" class="header">
  <button mat-icon-button [matMenuTriggerFor]="mainMenu" class="menu-button">
    <mat-icon>more_vert</mat-icon>
  </button>
  <h2>{{currentSearch?.label}}</h2>
  <button mat-icon-button class="hide-button" (click)="hide()">
    <mat-icon>unfold_less</mat-icon>
  </button>
  <mat-icon cdkDragHandle class="handle">drag_indicator</mat-icon>
  <mat-menu #mainMenu="matMenu">
    <ng-container *ngFor="let item of searchItems; index as idx">
      <ng-container *ngIf="item.children.length > 0">
        <button mat-menu-item [matMenuTriggerFor]="menu.childMenu">
          <span>{{item.label}}</span>
        </button>
        <eFaps-sub-menu #menu [items]="item.children" (selected)='setCurrent($event)'></eFaps-sub-menu>
      </ng-container>
      <button *ngIf="item.children.length < 1" mat-menu-item (click)="setCurrent(item)">
        <span>{{item.label}}</span>
      </button>
    </ng-container>
  </mat-menu>
</div>
<div mat-dialog-content>
  <eFaps-form-section [section]="currentSearch?.formSection"></eFaps-form-section>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button color="primary">Search</button>
</div>
